<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title>InputTest</title>
    </head>
<body>
    <header>
        <h1>InputTest</h1>
    </header>
    <form method="post" action="/msg" id="msg">
        message : <input type="text" name="msg" />
        <p>
        <input type="reset" value="cancel" />
        <input type="submit" value="send" />
    </form>
</body>
</html>
