<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title>InputTest</title>
    </head>
<body>
    <header>
        <h1>InputTest</h1>
    </header>
    <form method="post" action="/msg" id="msg">
        message : 
        <select name="msg">
            <option value="サンプル1">選択肢のサンプル1</option>
            <option value="サンプル2">選択肢のサンプル2</option>
            <option value="サンプル3">選択肢のサンプル3</option>
            <option value="サンプル4">選択肢のサンプル4</option>
            <option value="サンプル5">選択肢のサンプル5</option>
        </select>
        <p>
        <input type="reset" value="cancel" />
        <input type="submit" value="send" />
    </form>
</body>
</html>
