<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title>InputTest</title>
    </head>
<body>
    <header>
        <h1>Trouble Code</h1>
    </header>
    <form method="post" action="/tc" id="tc">
        id : <input type="text" name="id" /><br>
        message : <input type="text" name="code" /><br>
        <input type="reset" value="cancel" />
        <input type="submit" value="send" />
    </form>
</body>
</html>
